<
DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>XHR log time</title>
    <style>

    </style>
  </head>
  <body>
    <p id="writeData" class="data">Off-Line</p>
    <p id="lastStamp">No Data yet</p>
    <div id="my_dataviz"></div>

    <script type="module">

    </script>

    <script src="{{url_for('static', filename='chartJS.js')}}"></script>
    <script>
      import * as d3 from "https://cdn.skypack.dev/d3@7";
      // set the dimensions and margins of the graph
      var margin = {top: 10, right: 30, bottom: 30, left: 60},
          width = 460 - margin.left - margin.right,
          height = 400 - margin.top - margin.bottom;

      // append the svg object to the body of the page
      var svg = d3.select("#my_dataviz")
        .append("svg")
          .attr("width", width + margin.left + margin.right)
          .attr("height", height + margin.top + margin.bottom)
        .append("g")
          .attr("transform",
                "translate(" + margin.left + "," + margin.top + ")");

      d3.csv("static/news_frequencies.csv",
        function(d){
          return { date : d3.timeParse("%Y-%m-%d")(d.date_only), value : d.Title}
        }).then(line);

      d3.text("static/news_frequencies.csv", function(data) {
          var parsedCSV = d3.csv.parseRows(data);

          var container = d3.select("body")
              .append("table")

              .selectAll("tr")
                  .data(parsedCSV).enter()
                  .append("tr")

              .selectAll("td")
                  .data(function(d) { return d; }).enter()
                  .append("td")
                  .text(function(d) { return d; });
      });
    </script>

    <script>

    <!--const fullData = document.getElementById('writeData');-->
    <!--const lastData = document.getElementById('lastStamp');-->

    <!--function fetchData() {-->
      <!--console.log('Fetching updated data.');-->
      <!--let xhr = new XMLHttpRequest();-->
      <!--xhr.open("GET", "static/time-log.txt?t=" + Math.random(), true);-->
      <!--xhr.onload = function() {-->
        <!--updateDisplay(xhr.response);-->
      <!--}-->
      <!--xhr.send();-->
    <!--}-->

    <!--function updateDisplay(text) {-->
      <!--fullData.textContent = text;-->

      <!--let timeArray = text.split('\n');-->

      <!--// included because some file systems always include a blank line at the end of text files.-->
      <!--if(timeArray[timeArray.length-1] === '') {-->
        <!--timeArray.pop();-->
      <!--}-->

      <!--lastData.textContent = timeArray[timeArray.length-1];-->
    <!--}-->

    <!--setInterval(fetchData, 500);-->
    <!--</script>-->
  </body>
</html>
